<nav class="navbar navbar-default">
  <div class="container">
    <div class="col-md-3">
        <div class="navbar-header">
        <a class="navbar-brand" routerLink="home">Fancounter</a>
        </div>
    </div>
    <div class="col-md-6" style="margin-top:10px;" >
        <form [formGroup]="searchForm" (ngSubmit)="searchData()">
            <input type="text" 
                   formControlName="inputKeys" 
                   class="form-control"
                   placeholder="search something here"/>
        </form>
    </div>
    <div class="col-md-3">
        <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active">
            <a routerLink="home"> 
                <i class="fa fa-home"></i> Home
            </a>
             </li>
            <li routerLinkActive="active">
                <a routerLink="video"> 
                    <i class="fa fa-home"></i> Watch
                </a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="login">
                    <i class="fa fa-user"></i> Login
                </a>
            </li>
      <li routerLinkActive="active" *ngIf="!checkLogin"> 
          <a routerLink="profile">
              <i class="fa fa-user"></i> login
          </a>
        </li>
              <li class="dropdown" routerLinkActive="active" *ngIf="checkLogin">
                <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)"><i class="fa fa-user"></i> {{loginUser}}
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Profile</a></li>
                  <li><a href="javascript:void(0)" (click)="removekey()">Logout</a></li>
                </ul>
              </li>
        
    </ul>
  </div>
    </div>
</nav>