<div class="signupBox">
  <div class="signupHeader">
      Login
  </div>
  <div class="signupBody">
      <div class="form-group social_btn">
          <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i>
              Login with Google</a>
          <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>
              Login with Facebook</a>
      </div>

      <div class="all_line"><div class="orBox">OR</div></div>
     
             
      <form [formGroup]="signIn" (ngSubmit)="loginData()">
            
          <div class="form-group">
              <input placeholder="Email Address" class="form-control" type="email" formControlName="userEmail">
          </div>
          <div class="form-group">
              <input placeholder="Password" class="form-control" type="password" formControlName="userPassword">
          </div>
          
        
          <div class="form-group">
              <button class="btn btn-login">Submit</button>
          </div>
          </form>
          <p>{{msg}}</p>
     

             <div class="form-group already-sign text-center">
              <p>Don’t have an account? <a routerLink="/signup">Register now</a></p>
              </div>

  </div>
</div>