<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Find a Channel</h2>
      <form [formGroup]="youtubeForm" (ngSubmit)="showvideoResults()">
        <div class="form-group">
            <div class="col-md-8">
                <input  type="text" 
                        class="form-control"
                        formControlName="channelString" 
                        placeholder="Channel Name Here">
            </div>
            <button class="btn btn-primary" [disabled]="youtubeForm.invalid">Get Data</button>      
        </div>
        <div>{{msg}}</div>
      </form>
    </div>
    <div class="clearfix"></div>
    <hr>

    <ul class="list list-inline">
      <li *ngFor="let video of videoResults">
        <img src="{{video.snippet.thumbnails.medium.url}}">
      </li>
    </ul>

  </div>
</div>