<section class="home_section">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        
        <img src="../assets/images/facebook.png" class="img-responsive">
      </div>
      <div class="col-sm-4">
          <a  routerLink="/youtube">
        <img src="../assets/images/youtube.png" class="img-responsive">
        </a>
      </div>
      <div class="col-sm-4">
        <img src="../assets/images/instagram.png" class="img-responsive">
      </div>
    </div>
  </div>
</section>